[submodule "projects/jornada-devops-elite"]
	path = projects/jornada-devops-elite
	url = git@github.com:taffarel55/jornada-devops-elite.git

[submodule "projects/finances"]
	path = projects/finances
	url = git@gitlab.com:devops-study-br/finances.git
